<!DOCTYPE html>
<html>

<head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
</head>

<body>
    <div class="container1">
        <h1 class="text-centered">Login</h1>
    </div>
    <div class="imgcontainer">
        <a id="signUpLink" href="/signup">Sign Up</a>
        <img class="imgsize" src="./images/avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="modal-content">
        <form method="POST" action="/login">
            <label class="text2 text-centered">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label class="text2 text-centered">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <button class="text-centered text" type="submit" id="login" value="Login">Login</button><label>
        </form>
        <div class="message-content">
            <span class="text-centered" id="loginMsg"><%= msg %></span>
        </div>
    </div>
    <hr>
</body>

</html>
