<!DOCTYPE html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
</head>
        
<body>  
    <div class="container1">
        <h1 class="text-centered">Register</h1>
    </div>
    <div class="modal-content">
        <form method="POST" action="/signup">
            <label class="text2 text-centered">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label class="text2 text-centered">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <label class="text2 text-centered">Email:</label><br>
            <input class="input" type="email" id="email" name="email" required><br>
            <button class="text-centered text" type="submit" id="register" value="Register">Register</button><label></label>
        </form>
    </div>
    <hr>
    <span id="signupMsg">
    <%= msg %>
    </span>
</body> 

</html>
